
<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="style" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  
      <link rel="stylesheet" href="static/css/home.css">
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
  
</head>

<body>
   <nav>
  <ul>
    <li>
      <a href="{{ url_for('home_page') }}">Home</a>
    </li>
    <li>
      <a href="{{ url_for('hr') }}">Human Recruitment</a>
    </li>
    <li>
      <a href="{{ url_for('cal') }}">Event Calendar</a>
    </li>

    <li>
      <a href="{{ url_for('annual_permit') }}">Annual Permit</a>
    </li>
     <li>
      <a href="{{ url_for('login') }}">Login</a>
    </li>
  </ul>
</nav>
  <section>
  <!--for demo wrap-->
  <h1>Çalışan Listesi</h1>
<br><br><br>
    <div class="wrap">
   <div class="search">
      <input type="text" id="myInput" onkeyup='tableSearch()' class="searchTerm" placeholder="Çalışanları ara...">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
   </div>
</div>
<br><br>
    <div class="tbl-header">
    <table cellpadding="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th data-colname="name">Ad Soyad </th>
          <th data-colname="age">Yaş</th>
          <th data-colname="salary">Maaş</th>
          <th data-colname="experience">Deneyim</th>
          <th data-colname="mail">Mail</th>
          <th data-colname="department">Sektör</th>
          <th data-colname="day-off">Kalan İzin Günü</th>
        </tr>
      </thead>
    </table>
  </div>
  <div class="tbl-content">
    <table cellpadding="0" cellspacing="0" border="0" id="table">
      <tbody id="myTable">
        {% for employee in employees %}
        <tr>
          <td>{{employee.ad_soyad}}</td>
          <td>{{employee.yas}} </td>
          <td>{{employee.maas}}</td>
          <td>{{employee.deneyim}}</td>
          <td>{{employee.mail}}</td>
          <td>{{employee.sektor}}</td>
          <td>{{employee.kalan_izin}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</section>

</div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="static/js/home.js"></script>
<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});


</script>
</body>
</html>
